# Default ignored files
/.idea/shelf/
# Default ignored files
/workspace.xml

# Default ignored files
.idea/

# Default ignored files
*.iml

# Default ignored files
*.class

# Default ignored files
*.jar

